# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Local deployment records
/deployments/

# Environment files
.env
.env.*

# TypeChain generated contract bindings
/typechain-types/